$background-dark: #000;
$background-light: #fff;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

div.intro {
  h1 {
    margin-top: 0;
  }

  p {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
  }
}

.buttons-container {
  margin-top: 20px;
}

.light {
  background-color: $background-light;
  color: #000;
}

.dark {
  background-color: $background-dark;
  color: #fff;
}

.theme-toggle-button {
  position: fixed;
  bottom: 20px; /* 20px from the bottom */
  right: 20px; /* 20px from the right */
  padding: 10px 15px;
  background-color: #676262;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle-button:focus {
  outline: none;
}
